/samples/**/bin
/samples/**/Export
/hxclasses/
imports.js
starling.js
starling.js.map
starling-export.hxml
scripts/xml
scripts/pages
*.DS_Store
docs
node_modules
package-lock.json
lib/_gen
npm-debug.log
dist
/tests/**/bin
*.map
*.tgz